[submodule "src/tools/cssmin"]
	path = src/tools/cssmin
	url = https://github.com/natxet/CssMin.git
[submodule "src/tools/jsmin"]
	path = src/tools/jsmin
	url = https://github.com/rgrove/jsmin-php.git
