#forp {\n\
    position: fixed;\n\
    bottom: 0px;\n\
    right: 0px;\n\
    color: #222;\n\
    z-index: 2147483647;\n\
    text-decoration: none;\n\
    font-family: "Helvetica Neue", Helvetica, Nimbus, Arial, sans-serif;\n\
    font-weight: 300;\n\
    text-rendering: optimizelegibility;\n\
    max-width: 300px;\n\
    font-size : 13px;\n\
    background-color: #fff;\n\
    line-height: 1.3;\n\
}\n\
#forp div.footer {\n\
    height: 10px; position: absolute;\n\
    top: 0px; left: 0px; right: 0px;\n\
    -webkit-box-shadow: inset 0 3px 5px -2px #aaa;\n\
    -moz-box-shadow: inset 0 3px 5px -2px #aaa;\n\
    box-shadow: inset 0 3px 5px -2px #aaa;\n\
}\n\
#forp.closed {\n\
    margin: 15px;\n\
    border-radius: 8px;\n\
    width: 200px;\n\
    opacity: .6;\n\
    cursor: pointer;\n\
}\n\
#forp.closed:hover {\n\
    opacity: 1;\n\
}\n\
#forp.opened{\n\
    max-width: 100%;\n\
    left: 0px;\n\
}\n\
#forp.opened a{\n\
    display: inline;\n\
}\n\
#forp nav{\n\
    border-radius: 8px;\n\
    padding: 14px 10px 10px 10px;\n\
}\n\
#forp.closed nav{\n\
    height: auto;\n\
}\n\
#forp.closed nav>div{\n\
    margin: 3px 0px;\n\
}\n\
#forp.opened nav{\n\
    height: 22px;\n\
}\n\
#forp.opened nav>div{\n\
    float: left;\n\
}\n\
#forp a{\n\
    white-space:nowrap;\n\
    text-decoration: none;\n\
    color: #FFF;\n\
}\n\
#forp a.btn, a.tbtn{\n\
    color: #FFF;\n\
    margin: 0px 5px;\n\
    padding: 4px 5px 5px 5px;\n\
    background-color: #555;\n\
    text-decoration: none;\n\
}\n\
#forp a.close{\n\
    padding: 5px 10px;\n\
    position: absolute; \n\
    top: 12px; \n\
    right: 30px; \n\
    text-align: center;\n\
    //background-color: #DD4B39;\n\
}\n\
#forp .highlight {\n\
    background-color: #4D90FE !important;\n\
    color: #FFF !important;\n\
}\n\
#forp a.tag{\n\
    background-color: #EE0;\n\
    color : #222;\n\
    font-size : 10px;\n\
    padding: 2px 5px;\n\
    margin: 0px 5px;\n\
}\n\
#forp a.tag, #forp a{\n\
    border-radius: 3px;\n\
}\n\
#forp .backtrace-item{\n\
    color: #333;\n\
    margin: 0px 5px;\n\
    padding: 4px 5px 5px 5px;\n\
    background-color: #eee;\n\
    text-decoration: none;\n\
    border-radius: 8px;\n\
    padding: 5px;\n\
    display: inline-block;\n\
}\n\
#forp.shadow{\n\
   -moz-box-shadow: 0 0 8px #ccc;\n\
   -webkit-box-shadow: 0 0 8px #ccc;\n\
   box-shadow: 0 0 8px #ccc;\n\
}\n\
#forp table{\n\
    font-weight: 300;\n\
    font-size : 13px;\n\
    width: 100%;\n\
    border-collapse: collapse;\n\
}\n\
#forp div.panel {\n\
    overflow: auto;\n\
    overflow-x: hidden;\n\
    transition: height .1s;\n\
    -moz-transition: height .1s;\n\
    -webkit-transition: height .1s;\n\
    -o-transition: height .1s;\n\
    transition-timing-function: ease-in;\n\
    -moz-transition-timing-function: ease-in;\n\
    -webkit-transition-timing-function: ease-in;\n\
    -o-transition-timing-function: ease-in;\n\
}\n\
#forp div.mainpanel {\n\
    border-top: 1px solid #BBB;\n\
}\n\
#forp div.console{\n\
    float: left;\n\
    background-color: #fff;\n\
    width: 100%;\n\
    //border-top: 1px solid #888;\n\
}\n\
#forp div.sidebar{\n\
    float: right;\n\
}\n\
#forp th, #forp td{\n\
    padding: 5px;\n\
    border: 1px solid #ddd;\n\
}\n\
#forp th{\n\
    text-align: center;\n\
    font-weight: bold;\n\
    color: #333;\n\
    border: 1px solid #ddd;\n\
    background-color : #eee;\n\
}\n\
#forp .w100{\n\
    width: 120px;\n\
}\n\
#forp td{\n\
    text-align: left;\n\
    text-overflow: ellipsis;\n\
    word-space: nowrap;\n\
    overflow: hidden;\n\
    vertical-align: top;\n\
}\n\
#forp tr{\n\
    color: #333;\n\
    background-color: #fff;\n\
}\n\
#forp tr.sub{\n\
    background-color: #eee;\n\
}\n\
#forp tr:hover{ \n\
    background-color: #EDF4FF; \n\
}\n\
#forp tr[data-ref]{\n\
    cursor: pointer;\n\
}\n\
#forp .numeric{\n\
    text-align: right;\n\
}\n\
#forp ul{\n\
    line-height: 1.8;\n\
    list-style: none;\n\
    padding-left: 20px;\n\
}\n\
#forp ul.l0{\n\
    padding-left: 10px;\n\
}\n\
#forp li{\n\
    line-height: 1.8;\n\
}\n\
#forp li > div.numeric{\n\
    min-width: 60px;\n\
    margin: 0px 10px\n\
}\n\
#forp div.expander{\n\
    text-align:center;\n\
    width: 20px;\n\
    cursor: pointer;\n\
}\n\
#forp li.expanded > div.expander:before{\n\
    content: "-";\n\
}\n\
#forp li.collapsed > div.expander:before {\n\
    content: "+";\n\
}\n\
#forp li.collapsed > ul{\n\
    display: none;\n\
}\n\
#forp .left{\n\
    float: left;\n\
}\n\
#forp .right{\n\
    float: right;\n\
}\n\
#forp div.gauge{\n\
    line-height: 1.8;\n\
    color: #fff;\n\
    margin: 4px 5px 0px 0px;\n\
    width: 110px;\n\
    text-align: right;\n\
    font-size: 0.8em;\n\
    padding: 0px 3px;\n\
}\n\
#forp td>div.gauge{\n\
    margin: 0px;\n\
}\n\
#forp div.i{\n\
    position: absolute;\n\
    top: 5px;\n\
    right: 5px;\n\
    font-weight: 900;\n\
    text-align: center;\n\
    background-color: #ccc;\n\
    width: 15px;\n\
    height: 15px;\n\
    border-radius: 10px;\n\
}\n\
#forp div.i>a{\n\
    font-family: Georgia;\n\
    color: #FFF;\n\
}
#forp input[type=text]{
    font-size: 11px;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 3px;
    background-color: #fff;
    margin: 0px 5px
}
#forp .indent {
    padding-left: 30px
}
#forp div.w2of3 {
    width: 66% !important;
}
#forp div.w1of3 {
    width: 33% !important;
}
#forp .dbg-text {
    padding-left: 6px;
    color: #4D90FE;
    font-style: italic;
}