/* reset CSS */
#forp *{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    width: auto;
    height: auto;
    color: #222;
    line-height: 1.3;
}
#forp {
    position: relative;
    font-weight: 300;
    max-width: 300px;
    background: #fff;
    font-size : 12px;
}
#forp div.inset {
    height: 10px; position: absolute;
    top: 0px; left: 0px; right: 0px;
    -webkit-box-shadow: inset 0 3px 5px -2px #aaa;
    -moz-box-shadow: inset 0 3px 5px -2px #aaa;
    box-shadow: inset 0 3px 5px -2px #aaa;
}
#forp.forp-fixed {
    height: 70%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 2147483647;
}
#forp.forp-fixed-compact {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 2147483647;
    width: 150px;
    opacity: .6;
    cursor: pointer;
    margin: 15px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
    box-shadow: 0 0 8px #ccc;
}
#forp.forp-fixed-compact:hover {
    opacity: 1;
}
#forp.forp-fixed-compact nav{
    height: auto;
    padding: 10px;
    border-radius: 8px;
}
#forp.forp-fixed-compact nav>div{
    margin: 3px 0px;
}
#forp.forp-fixed, #forp.forp-embedded {
    min-width: 1000px;
    max-width: 100%;
    left: 0px;
}
#forp.forp-fixed a, #forp.forp-embedded a{
    display: inline;
}
#forp.forp-fixed nav>div, #forp.forp-embedded nav>div{
    float: left;
}
#forp.forp-fixed div.summary, #forp.forp-embedded div.summary{
    display: none
}

/* backtrace */
#forp div.backtrace{
    text-align: center;
    color: #aaa;
    margin: 30px auto;
}
#forp div.backtrace-item{
    color: #333;
    margin: 0px 5px;
    padding: 4px 5px 5px 5px;
    border-radius: 8px;
    padding: 5px;
    display: inline-block;
}
#forp div.backtrace div.arrow{
    margin: 5px;
    color: #999;
}
#forp div.backtrace div.highlight{
    background: #4D90FE !important;
    color: #FFF !important;
}
#forp div.backtrace div.highlight span{
    color: #FFF !important;
}

/* close */
#forp div.close{}
#forp div.close:before{
    content: "x";
}
#forp div.close{
    color: #ccc;
    position: absolute;
    top: 14px;
    right: 30px;
}
#forp div.close:hover{
    cursor: pointer;
}

/* console */
#forp div.console{
    position: relative;
    float: left;
    width: 100%;
}

/* gauge */
#forp div.gauge{
    position: relative;
    background: #eee;
    color: #333;
    margin: 1px;
    width: 110px;
    text-align: right;
}
#forp div.gauge div.bar{
    background: #59f;
    height: 18px;
}
#forp div.gauge div.text{
    position: absolute;
    top: 0px;
    right: 4px;
    line-height: 1.8;
    font-size: .9em
}
#forp td>div.gauge{
    margin: 0px;
}

/* grade */
#forp div.grade, #forp div.grade-A, #forp div.grade-B,
#forp div.grade-C, #forp div.grade-D, #forp div.grade-E {
    padding: 2px 5px;
    display: inline-block;
    border-radius: 3px;
    font-size: 0.8em;
    color: #FFF;
    margin-right: 10px
}
#forp div.grade-A {
    background-color: #9E5
}
#forp div.grade-B {
    background-color: #EE5
}
#forp div.grade-C {
    background-color: #EB5
}
#forp div.grade-D {
    background-color: #E95
}
#forp div.grade-E {
    background-color: #E55
}

/* inspector */
#forp ul.inspect{
    padding: 10px 0px 0px 0px;
}

/* input */
#forp input[type=text]{
    padding: 4px;
    border: 1px solid #777;
    border-radius: 3px;
    background: #fff;
}

/* nav */
#forp nav{
    background: #fcfcfc;
    padding: 14px 0px 8px 4px;
}
#forp.forp-fixed nav, #forp.forp-embedded nav{
    height: 22px;
}
#forp a{
    white-space: nowrap;
    color: #FFF;
}
#forp div.toggleOn, #forp div.toggleOff{
    margin: 0px 5px;
    padding: 4px;
    float: left;
    border-radius: 2px;
}
#forp div.toggleOn:hover, #forp div.toggleOff:hover{
    cursor: pointer;
}
#forp div.toggleOn{
    color: #FFF;
    background: #4D90FE;
}
#forp div.toggleOff{
    color: #FFF;
    background: #555;
}

/* sidebar */
#forp div.sidebar{
    float: right;
}
#forp div.w2of3 {
    width: 66% !important;
}
#forp div.w1of3 {
    width: 33% !important;
}

/* stack */
#forp ul{
    list-style: none;
    padding-left: 20px;
}
#forp ul.l0{
    padding-left: 10px;
}
#forp li{
    line-height: 1.8 !important;
    margin: 2px
}
#forp li > div.numeric{
    min-width: 60px;
    margin: 0px 10px
}
#forp .indent {
    padding-left: 30px
}
#forp div.expander{
    text-align:center;
    width: 20px;
    cursor: pointer;
}
#forp li.expanded > div.expander:before{
    content: "-";
}
#forp li.collapsed > div.expander:before {
    content: "+";
}
#forp li.collapsed > ul{
    display: none;
}
#forp .left{
    float: left;
}
#forp .right{
    float: right;
}

/* table */
#forp table{
    font-weight: 300;
    width: 100%;
    border-collapse: collapse;
}
#forp th, #forp td{
    padding: 5px;
}
#forp th{
    text-align: center;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    background: #eee;
}
#forp .w100{
    width: 110px;
}
#forp td{
    text-align: left;
    text-overflow: ellipsis;
    word-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
#forp tr{
    color: #333;
    background: #fff;
}
#forp tr.sub{
    background: #eee;
}
#forp tr:hover{
    background: #EDF4FF;
}
#forp tr[data-ref]{
    cursor: pointer;
}
#forp .numeric{
    text-align: right;
}

/* tags */
#forp a.tag{
    background: #EE0;
    color: #fff;
    font-size : 0.8em;
    padding: 2px 5px;
    margin: 0px 5px;
}
#forp a.tag, #forp a{
    border-radius: 3px;
}
#forp div.panel {
    overflow: auto;
    overflow-x: hidden;
}