#forp {
    font-family: "Helvetica Neue", Helvetica, Nimbus, Arial, sans-serif;
    font-size : 13px;
}
#forp span.strong {
    font-weight: bold;
}

/* backtrace */
#forp div.backtrace-item{
    background: #eee;
}

/* close */
#forp div.close:hover{
    color: #555;
}

/* console */
#forp div.console{
    background: #fff;
}

/* input */
#forp input[type=text]{
    margin: 0px 5px
}

/* mainpanel */
#forp div.mainpanel {
    border-top: 1px solid #BBB;
    background: #fff;
}

/* nav */
#forp div.toggleBar{
    margin-top: -4px
}

/* table */
#forp th, #forp td{
    border: 1px solid #ddd;
}